.App {
  text-align: center;
}

.App-container {
  background-color: #edf2f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #212121;
}

.todo {
  background: #fff;
  padding: 10px;
  margin: 100px 0 40px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo__title {
  margin-top: 0;
}

.todo__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.todo__list .todo__item:last-of-type {
  margin-bottom: 0;
}

.todo__item {
  margin-bottom: 5px;
  width: calc(100% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2b2d42;
  padding: 5px;
  border-radius: 4px;
}

.todo__item input {
  margin-right: 10px;
}

.todo__item--done label {
  text-decoration: line-through;
  color: #06d6a0;
}

.todo__btn {
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 6px 12px;
}

.todo__btn--red {
  background: #ef233c;
}

.todo__btn--black {
  background: #2b2d42;
}

.todo__submit {
  width: 125px;
  cursor: pointer;
  background: #2b2d42;
  margin-bottom: 6px;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 6px 12px;
}

.error {
  color: #d90429;
}
