.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.error {
  color: red;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
}

.todo-list .note-item:last-of-type {
  margin-bottom: 0;
}

.add-todo-container label {
  margin-right: 10px;
}

.note-item {
  margin-bottom: 5px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #61dafb;
  padding: 5px;
  border-radius: 4px;
}

.note-item input {
  margin-right: 10px;
}

.note-done label {
  text-decoration: line-through;
}

.todo-delete {
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 6px 12px;
  background: red;
}

.todo-submit {
  width: 125px;
  cursor: pointer;
  background: #61dafb;
  margin-bottom: 6px;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 6px 12px;
}
